<?xml version="1.0" encoding="UTF-8"?>
<plugin>

  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.m2.Registration"
          name="Registration"
          class="RegistrationView"
          category="Spectrum imaging"
          icon="resources/noun_opticalillusion_1262005.svg" />
  </extension>

</plugin>
