<?xml version="1.0" encoding="UTF-8"?>
<plugin>

  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.m2.Manipulator"
          name="Geometry Manipulator"
          class="m2Manipulator"
          category="MS imaging"
          icon="resources/manipulator.svg" />
  </extension>

</plugin>
