<?xml version="1.0" encoding="UTF-8"?>
<plugin>

  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.opticalimageregistration"
          name="Optical image registration"
          class="OpticalImageRegistration"
          category="MS imaging"
          icon="resources/icon.xpm" />
  </extension>

</plugin>
