<?xml version="1.0" encoding="UTF-8"?>
<?BlueBerry version="3.0"?>
<plugin>
  <extension point="org.blueberry.osgi.applications" id="org.mitk.qt.m2.application">
    <application>
      <run class="QmitkM2aiaAppApplication"/>
    </application>
  </extension>

  <extension id="workbench" point="org.blueberry.core.runtime.products">
    <product name="M²aia Workbench" application="org.mitk.qt.m2.application" />
  </extension>

  <extension point="org.blueberry.ui.perspectives">
    <perspective id="org.mitk.m2.application.perspectives.spectrumimaging"
      name="Spectrum Imaging Perspective"
      class="QmitkSpectrumImagingPerspective"
      icon="resources/perspectives/icon.png"/>
  </extension>


</plugin>

