<?xml version="1.0" encoding="UTF-8"?>
<plugin>

  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.m2.peakpicking"
          name="Peak Picking"
          class="m2PeakPickingView"
          category="MS imaging"
          icon="resources/noun_analysis_3405381.svg" />
  </extension>

</plugin>
